.actores {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  padding: 20px;
}

.actores article {
  background-color: rgba(255, 255, 255, 0.61); 
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 1rem; 
  text-align: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.actores article:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  transform: translateY(-8px) scale(1.02);
}

.actores article img {
  width: 80%;
  max-width: 300px;
  height: auto;
  border-radius: 8px;
  margin: 0 auto; 
}

h4 {
  color: rgb(120, 74, 0);
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}