article {
  background-color: #ffffff9b;
  padding: 1rem;
  border-radius: 10px;
  text-align: center;
}
.actores article img {
  width: 80%;       
  max-width: 300px; 
  border-radius: 8px;
}
h4{
  color: rgb(120, 74, 0);
}

