.curiosidades {
  display: flex;         
  justify-content:center;    
  gap: 20px;                   
  padding: 20px 0;
}

.curiosidades article {
  background-color: rgba(255, 255, 255, 0.61);
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 1rem;
  text-align: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  flex: 1 1 350px;             
  max-width: 450px;            
}

.curiosidades article:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  transform: translateY(-8px) scale(1.02);
}

.curiosidades article img { 
   width: 100%;
  max-width: none;
  height: auto;
  border-radius: 8px;
  margin: 0 auto; 
}

.curiosidades article h3 {
  color: rgb(120, 74, 0);
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

