footer {
  background-color: #111;   
  color: #fff;              
  text-align: center;       
  padding: 15px;            
  margin-top: 30px;        
}

footer h3 {
  margin-bottom: 10px;      
  color: #ffffff;              
}

footer ul {      
  list-style: none;
  padding: 0;
  margin: 0;
}

footer li {
  margin-bottom: 5px;      
}

footer a {
  color: #73abff;              
  text-decoration: none;    
}

#logofooter {
  width: 20%;
}
