body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-image: url("../imagenes/fondo3.jpg"); 
  background-attachment: fixed; 
}
header {
  background-color: #111;
  color: #A19FA2;
  padding: 20px;
  text-align: center;
}

nav {
  background-color: #231F26;
  padding: 10px;
}

.tarjetalogo {
  width: 60%;        
  display: block;      
  margin: 20px auto;   
}   


nav a {
  background-color: #444;   
  color: #fff;            
  text-decoration: none;    
  padding: 8px 15px;        
  border-radius: 5px;       
  font-weight: bold;
  display: inline-block;    
}

main {
  padding: 20px;
  max-width: 900px;
  margin: auto;
}

section {
  margin-bottom: 40px;
}

h2 {
  color: #727272;
  color: rgba(255, 255, 255, 0.951);
  padding: 10px;
  display: inline-block;
  
}


article {
  background-color: #ffffffb5;
  padding: 15px;
  margin-top: 15px;
  border-radius: 5px;
}

aside {
  background-color: #f4f4f4;
  padding: 15px;
  margin: 20px 0;
  border-left: 4px solid #A19FA2;
}

.imgproduccion {
  display: block;
  margin: 15px auto 0 auto;      
  width: 40%;                     
  border-radius: 8px;
  
}

.contenido {
  background-color: #ffffffc9;        
  padding: 20px;
  margin: 30px 0;
}

.contenido h2 {
  color: #222;
  margin-top: 0;
  border-bottom: 1px solid #aeaeae;    
  padding-bottom: 5px;
  
}

.contenido2{
  background-color: #ffffff;        
  padding: 20px;
  margin: 30px 0;
}
.contenido2 h2 {
  color: #222;
  margin-top: 0;
  border-bottom: 1px solid #aeaeae;    
  padding-bottom: 5px;
  }
body ul {      
  list-style: none;
  padding: 0;
  margin: 0;
}
.formulario {
  max-width: 500px;
  margin: 2rem auto;
  padding: 2rem;
  background: rgba(148, 148, 148, 0.727);
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.2);
}
.aspectos{
  color: rgb(94, 94, 94);
}

.resaltar{
  color: #727272;
  background-color: rgba(101, 49, 0, 0.587); 
  color: rgba(255, 255, 255, 0.951);
  padding: 10px;
  display: inline-block;
  border-radius: 8px;
}