.sinopsis {
  background-color: #fffbfbab;     
  padding: 2rem;
  border-radius: 10px;
  max-width: 800px;
  margin: auto;
}

.sinopsis h2 {
  text-align: center;
  margin-bottom: 1rem;
  color: #26221f;
}

.sinopsis p {
  font-size: 1rem;
  line-height: 1.6;
}

.sinopsis aside {
  margin-top: 1.5rem;
  padding: 1rem;
  background-color: #eee;
  border-left: 4px solid #444;
}